<div class="search-form">
  <%= form_with url: books_path, method: :get, local: true do |f| %>
    <%= f.text_field :category_search, placeholder: "category", class: "form-control" %>
    <% f.submit %>
  <% end %>
</div>
